*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #c49e6b;
    color: rgb(32, 18, 7);
    font-family: "Iowan BT";
}

#overlay{
    width: 100dvw;
    height: 100dvh;
    position: fixed;
    top: 0;
    left: 0;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 3000;
    overflow: hidden;
}
#overlay img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#home-icon{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    background-color: #a95530;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 5px 5px 5px;
    background-image: url(../Project-1-Interaction-Draft-2/HomeIcon.png);
    
    background-size: cover;
}
#home-icon:hover{
    /* transform: rotate(180deg); */
    transform: scale(110%);
}

a{
    color: rgb(32, 18, 7);
    text-decoration: underline;
}
a:hover{
    color: rgb(76, 37, 6);
    text-decoration: none;
}
em{
    font-style: italic;
}

#description{
    margin: 100px 100px 0px 100px;
    font-size: 18px;
    max-width: 700px;
    text-align: justify;
}

#grid-container{
    display: flex;
    justify-content: center;
    margin: 40px 100px;

}
#grid{
    display: grid;
    grid-template-columns: calc(25% - 40px/3) calc(25% - 40px/3) calc(25% - 40px/3) calc(25% - 40px/3);
    gap: 20px;
    width: 100%;
    justify-content: space-between;
    z-index: 3001
}
.image{
    width: 100%;
    aspect-ratio: 1/1.3;
    background-color: rgb(151, 77, 63);
    overflow: clip;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

@media screen and (max-width: 700px){
    #home-icon{
        left: 20px;
        top: 20px;
    }
    #description{
        margin: 80px 20px 0px 20px;
        font-size: 18px;
        text-align: left;
    }
    #grid-container{
        margin: 40px 20px;
    }
    #grid{
        grid-template-columns: calc(50% - 20px/3) calc(50% - 20px/3) ;
        gap: 10px;
    }
}