*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
}
@media print{
    #about, #control, #about-icon, #control-icon{
        display: none !important;
    }
     @page {
        size: letter;
        margin: 0;
    }
    #raleigh, #marlowe {
        width: 8.5in;
        height: 11in;
        position: absolute;
        top: 0;
        left: 0;
    }
}

a{
    color: rgb(32, 18, 7);
    text-decoration: underline;
}
a:hover{
    color: rgb(76, 37, 6);
    text-decoration: none;
}
em{
    font-style: italic;
}

@font-face {
    font-family: "Iowan BT";
    src: url("bitstream-iowan-old-style-bt-586c36a8d7712.ttf");
}
body {
    background-color: #ECE2D5;
    color: rgb(32, 18, 7);
    font-family: "Iowan BT";
    /* font-family:'Courier New', Courier, monospace; */
}
#overlay{
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 2000;
    overflow: hidden;
}
#overlay img{
    min-width: 100%;
    max-width: 1960px;
}

#about-icon{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    left: 30px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    background-color: #a95530;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 5px 5px 5px;
    background-image: url(../Project-1-Interaction-Draft-2/CloseIcon.png);
    background-size: cover;
}
#about-icon:hover{
    /* transform: rotate(180deg); */
    transform: scale(110%);
}
#about-icon.closed{
    background-image: url(../Project-1-Interaction-Draft-2/HelpIcon.png);
}
#about{
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 30px 30px 30px;
    width: 30vw;
    height: fit-content;
    max-height: calc(100vh - 60px);
    background-color: #cfb796;
    position: fixed;
    top: 30px;
    left: 75px;
    display: block;
    z-index: 1998;
    overflow-y: scroll;
    font-size: 20px;
    text-align: left;
}
#about ol{
    margin: 30px 30px 30px 10px;
}
#about.hide{
    display: none !important;
}
#learn-more{
    margin: 20px;
    border: solid 1px rgb(32, 18, 7);
    width: calc(30vw - 40px);
    height: 40px;
    border-radius: 20px;
    background-color: rgb(72, 84, 88);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#learn-more:hover{
    transform: scale(90%);
}

#description{
    position: fixed;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
    display: none; 
    z-index: 1999;
}
#description.show{
    display: flex;
}
#description-content{
    width: fit-content;
    max-width: 700px;
    height: fit-content;
    max-height: 530px;
    overflow-y: scroll;
    border: solid 1px rgb(32, 18, 7);
    background-color: rgb(179, 149, 111);
    padding: 30px;
    font-size: 20px;
    border-radius: 5px 30px 30px 30px;
}
#close-description{
    width: 40px;
    height: 40px;
    margin-right: 5px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    background-color: #a95530;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
}
#close-description img{
    max-width: 100%;
}
#close-description:hover{
    /* transform: rotate(0deg); */
    transform: scale(110%);
}

#control-icon{
    width: 40px;
    height: 40px;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
    background-color: #a95530;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 5px 5px 5px;
    display: flex;
    align-items: center;
    background-image: url(../Project-1-Interaction-Draft-2/CloseIcon.png);
    background-size: cover;
}
#control-icon:hover{
    /* transform: rotate(0deg); */
    transform: scale(110%);
}
#control-icon.closed{
    background-image: url(../Project-1-Interaction-Draft-2/CreateIcon.png);
    background-size: cover;
}
#control{
    border: solid 1px rgb(32, 18, 7);
    border-radius: 30px 5px 30px 30px;
    width: fit-content;
    height: fit-content;
    background-color: #b29b7b;
    position: fixed;
    top: 30px;
    right: 75px;
    display: block;
    align-items: center;
    padding: 30px;
    text-transform: uppercase;
    z-index: 1998;
}
#control.hide{
    display: none !important;
}
#control input, #control label, #control select{
    margin-right: 20px;
}
#control input, #control select{
    background-color: #e1d2bd;
    font-family: "Iowan BT";
    appearance: none;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px;
    display: block; 
}

.toggle {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-bottom: 20px;
}

#rotation-label, #color-label{
    margin-bottom: 10px;
}

.toggle input {
  display: none;
}

.toggle-slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transition: 0.4s;
  border-radius: 34px;
  background-color: rgb(59, 41, 26);
}

.toggle-slider:before {
  position: absolute;
  content: " ";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: #b29b7b;
  transition: 0.4s;
  border-radius: 50%;
}
input:checked ~ .toggle-slider {
  background-color: rgb(32, 18, 7); 
}
input:checked ~ .toggle-slider:before {
  transform: translateX(26px);
}

#min-font-size, #max-font-size{
  display: inline;
  -webkit-appearance: none;
  width: 200px;
  height: 0px;
  border-radius: 100%;
  margin: 10px 0px;
}
#min-font-size-display, #max-font-size-display{
  display: inline-block;
  margin-bottom: 20px;
}
#min-font-size::-webkit-slider-thumb, #max-font-size::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  background: rgb(32, 18, 7);
  cursor: pointer;
  border-radius: 100%;
}

#control-buttons{
    display: flex;
    margin-top: 30px;
}
#create-button, #reset-button, #print-button{
    width: 80px;
    height: 80px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#create-button:hover, #reset-button:hover, #print-button:hover{
    transform: rotate(180deg);
}
#create-button img, #reset-button img, #print-button img{
    width: 100%;
}
#reset-button{
    margin-left: -10px;
}

#texts{
    overflow: clip;
}

.word{
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  padding: 20px;
}
#raleigh{
    max-width: 100vw;
    height: 100vh;
}

#loading{
    width: 200px;
    height: 200px;
    background-color:rgb(179, 149, 111);
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px 30px 30px 30px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1999;
    top: 70px;
    left: 70PX; 
}

/* mobile */

@media screen and (max-width: 431px) {
    html{
        overflow: hidden;
    }
    body{
        overflow: hidden;
    }

    #about-icon{
        position: fixed;
        top: auto;
        left: auto;
        bottom: 20px;
        right: 20px;
    }
    #about-icon:hover{
        /* transform: rotate(180deg); */
        transform: scale(110%);
    }
    #about-icon.closed{
        background-image: url(../Project-1-Interaction-Draft-2/HelpIcon.png);
    }
    #about{
        border-radius: 30px 30px 5px 30px;
        width: calc(100vw - 90px);
        height: 30vh;
        max-height: 50vh;
        position: fixed;
        top: auto;
        left: auto;
        right: 70px;
        bottom: 20px;
        font-size: 18px;
    }
    #about ol{
        margin: 30px 30px 30px 10px;
    }
    #about.hide{
        display: none !important;
    }
    #learn-more{
        margin: 0;
        width: 200px;
        transform: rotate(90deg);
        position: fixed;
        right: -60px;
        bottom: 150px;
        z-index: 1999;
    }
    #learn-more:hover{
        transform: scale(90%);
    }

    #description{
        position: fixed;
        top: 50vh;
        left: 50vw;
        transform: translate(-50%, -50%);
        display: none; 
        z-index: 1999;
    }
    #description.show{
        display: flex;
    }
    #description-content{
        width: fit-content;
        max-width: 700px;
        height: fit-content;
        max-height: 530px;
        overflow-y: scroll;
        border: solid 1px rgb(32, 18, 7);
        background-color: rgb(179, 149, 111);
        padding: 30px;
        font-size: 20px;
        border-radius: 5px 30px 30px 30px;
    }
    #close-description{
        width: 40px;
        height: 40px;
        margin-right: 5px;
        cursor: pointer;
        z-index: 1999;
        transition: transform 0.3s ease-in-out;
        transform: rotate(0deg);
        background-color: #a95530;
        border: solid 1px rgb(32, 18, 7);
        border-radius: 5px 5px 5px 5px;
        display: flex;
        align-items: center;
    }
    #close-description img{
        max-width: 100%;
    }
    #close-description:hover{
        /* transform: rotate(0deg); */
        transform: scale(110%);
    }

    #control-icon{
        position: fixed;
        top: 20px;
        right: 20px;
    }
    #control{
        width: calc(100vw - 90px);
        height: calc(65vh - 20px);
        max-height: 80vh;
        top: 20px;
        right: 70px;
        padding: 30px;
        font-size: 16px;
    }
    #min-font-size-display, #max-font-size-display{
        display: inline-block;
        margin-bottom: 5px;
    }
    #min-font-size::-webkit-slider-thumb, #max-font-size::-webkit-slider-thumb {
        width: 14px;
        height: 14px;
    }
    .toggle{
        margin-bottom: 10px;
        margin-top: 0px;
    }
    #rotation-label, #color-label{
        margin-bottom: 5px;
    }

    #control-buttons{
        display: flex;
        justify-content: center;
        margin-top: 10px;
    }
    #create-button, #reset-button, #print-button{
        width: 40%;
        aspect-ratio: 1/1;
        margin-left: -10px;
    }
    #reset-button{
        margin-right: 10px
    }
    .toggle input {
        display: none !important;
    }

}