*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

a{
    color: rgb(32, 18, 7);
    text-decoration: underline;
}
a:hover{
    color: rgb(76, 37, 6);
    text-decoration: none;
}
em{
    font-style: italic;
}

@font-face {
    font-family: "Iowan BT";
    src: url("bitstream-iowan-old-style-bt-586c36a8d7712.ttf");
}
body {
    background-color: #ECE2D5;
    color: rgb(32, 18, 7);
    font-family: "Iowan BT";
    /* font-family:'Courier New', Courier, monospace; */
}
#overlay{
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    z-index: 1000;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 2000;
}
#overlay img{
    width: 100%;
}

#entry{
    border: solid 2px rgb(32, 18, 7);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    background-color: #a28d6e;
    position: fixed;
    top: calc(50vh - 30px - 200px);
    left: calc(50vw - 30px - 200px);
    z-index: 1000;
    text-transform: uppercase; 
}
#entry-close{
    width: 50px;
    height: 50px;
    cursor: pointer;
    position: absolute;
    top: 30px;
    right: 30px;
    transition: transform 0.3s ease-in-out;
}
#entry-close:hover{
    transform: rotate(180deg);
    /* transform: scale(130%); */
}
#entry-close img{
    width: 100%;
}
#entry-content{
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

#about-icon{
    width: 100px;
    height: 100px;
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}
#about-icon:hover{
    transform: rotate(180deg);
    /* transform: scale(130%); */
}
#about-icon.opened{
    transform: rotate(180deg);
}
#about-icon img{
    width: 100%;
}
#about{
    border: solid 2px rgb(32, 18, 7);
    border-radius: 30px;
    width: 80vw;
    height: calc(100vh - 60px);
    background-color: #cfb796;
    position: fixed;
    top: 30px;
    left: 30px;
    display: none;
    z-index: 1998;
    overflow-y: scroll;
}
#about.show{
    display: block;
}
#about-title{
    display: flex;
    height: 30px;
}
#about-title p{
    text-align: left;
    width: 90%;
    padding: 50px;
    text-decoration: underline;
}
#about-close{
    width: 40px;
    aspect-ratio: 1/1;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#about-close:hover{
    transform: rotate(180deg);
}
#about-close img{
    width: 100%;
}
#about-content{
    padding: 50px;
    overflow-y: scroll;
}

#control-icon{
    width: 100px;
    height: 100px;
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1999;
    transition: transform 0.3s ease-in-out;
    transform: rotate(0deg);
}

#control-icon:hover{
    transform: rotate(180deg);
    /* transform: scale(130%); */
}
#control-icon.opened{
    transform: rotate(180deg);
}
#control-icon img{
    width: 100%;
}
#control{
    border: solid 1px rgb(32, 18, 7);
    border-radius: 30px;
    width: calc(100vw - 60px - 120px);
    height: 100px;
    background-color: #b29b7b;
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: none;
    padding: 30px;
    text-transform: uppercase;
    z-index: 1999;
}
#control.show{
    display: flex;
    align-items: center;
}
#control input, #control label, #control select{
    margin-right: 20px;
}
#control input, #control select{
    background-color: #e1d2bd;
    font-family: "Iowan BT";
    appearance: none;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px; 
}
#create-button{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 6px;
    top: 3px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#create-button:hover{
    transform: rotate(180deg);
}
#create-button img{
    width: 100%;
}
#reset-button{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 110px;
    top: 3px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}
#reset-button:hover{
    transform: rotate(180deg);
}
#reset-button img{
    width: 100%;
}

.word{
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  padding: 20px;
}
#raleigh{
    max-width: 100vw;
    height: 100vh;
}

#loading{
    width: 200px;
    height: 200px;
    background-color:rgb(179, 149, 111);
    border: solid 1px rgb(32, 18, 7);
    border-radius: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1999;
    top: 30px;
    left: 30PX; 
}