*{
    margin: 0;
    padding: none;
    box-sizing: border-box;
}

@font-face {
    font-family: "Iowan BT";
    src: url("bitstream-iowan-old-style-bt-586c36a8d7712.ttf");
}
body {
    background-color: #ECE2D5;
    color: rgb(32, 18, 7);
    font-family: "Iowan BT";
    /* font-family:'Courier New', Courier, monospace; */
}
#overlay{
    max-width: 100vw;
    max-height: 100vh;
    position: fixed;
    z-index: 1000;
    mix-blend-mode: overlay;
    pointer-events: none;
    z-index: 2000;
}
#overlay img{
    width: 100%;
}

#entry{
    border: solid 2px rgb(32, 18, 7);
    border-radius: 30px;
    width: 400px;
    height: 400px;
    background-color: #a28d6e;
    position: fixed;
    top: calc(50vh - 30px - 200px);
    left: calc(50vw - 30px - 200px);
    z-index: 1000;
    text-transform: uppercase; 
}
#entry-title{
    display: flex;
    height: 30px;
}
#entry-title p{
    text-align: center;
    width: 90%;
    padding: 5px;
}
#entry-close{
    width: 10%;
    height: 30px;
    background-color: grey;
    cursor: pointer;
}
#entry-content{
    text-align: center;
    padding: 40px;
    margin-top: 60px;
}

#about-icon{
    width: 40px;
    height: 40px;
    background-color:rgb(59, 59, 58);
    position: fixed;
    top: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1999;
}
#about{
    border: solid 2px rgb(32, 18, 7);
    border-radius: 30px;
    width: 80vw;
    height: calc(100vh - 60px);
    background-color: #cfb796;
    position: fixed;
    top: 30px;
    left: 30px;
    text-transform: uppercase;
    display: none;
    z-index: 1998;
}
#about-title{
    display: flex;
    height: 30px;
}
#about-title p{
    text-align: left;
    width: 90%;
    padding: 50px;
    text-decoration: underline;
}
#about-close{
    width: 30px;
    aspect-ratio: 1/1;
    background-color: grey;
    position: absolute;
    right: 40px;
    top: 40px;
    cursor: pointer;
}
#about-content{
    padding: 50px;
    overflow-y: scroll;
}

#control-icon{
    width: 40px;
    height: 40px;
    background-color:rgb(59, 59, 58);
    position: fixed;
    bottom: 30px;
    right: 30px;
    cursor: pointer;
    z-index: 1999;
}
#control{
    border: solid 2px rgb(32, 18, 7);
    border-radius: 30px;
    width: calc(100vw - 60px - 50px);
    height: 40px;
    background-color: #b29b7b;
    position: fixed;
    bottom: 30px;
    left: 30px;
    display: none;
    padding: 10px;
    text-transform: uppercase;
    z-index: 1999;
}
#control.show{
    display: flex;
}
#control input, #control label, #control select{
    margin-right: 10px;
}
#control input, #control select{
    background-color: #e1d2bd;
    font-family: "Iowan BT";
    appearance: none;
    border: solid 1px rgb(32, 18, 7);
    border-radius: 5px; 
}
#create-button{
    width: 25px;
    height: 25px;
    background-color: rgb(66, 66, 66);
    position: absolute;
    right: 6px;
    top: 6px;
    cursor: pointer;
}
#reset-button{
    width: 25px;
    height: 25px;
    background-color: rgb(113, 113, 113);
    position: absolute;
    right: 37px;
    top: 6px;
    cursor: pointer;
}

.word{
  position: absolute;
  opacity: 0;
  text-transform: uppercase;
  padding: 20px;
}
#raleigh{
    max-width: 100vw;
    height: 100vh;
}

#loading{
    width: 200px;
    height: 200px;
    background-color:rgb(179, 149, 111);
    border: solid 1px rgb(32, 18, 7);
    border-radius: 30px;
    display: none;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 1999;
    top: 30px;
    left: 30PX; 
}